<br>
<div class="introtext" style="text-align: inline;">
    <p>In the time it takes you to read this sentence, you’ll have generated it: data. You may have fidgeted in your chair, sipped a coffee, or ignored an incoming text. Tracking those actions over time helps paint a surprisingly rich picture of how your actions affect your health.

        <br><br><strong>What's a Quantified Selfer?</strong><br><p></p>
        Wearable fitness devices and the apps associated with them are the way most people these days track info about exercising, eating, mood, and more. Some people are particularly intent on capturing data -- a lot of data -- from each day. These power users of personal tracking devices are often called "quantified selfers," or QSers, for short. Their activities are sometimes called “life logging” or “systematized self-help.”
        
        QSers aren't as rare as you may think. Data from the Pew Research Center show that 70% of us are tracking some aspect of our health, whether we’re using a cutting-edge technology like Fitbit Flex, Jawbone UP, or Lark sleep monitor, or old-fashioned pen and paper.
        
        <br><br><strong >What You Gain From Your Personal Data</strong><br><p></p>
        Fidgeting in your chair might not mean much on its own. But it's a different story when you’re wearing an activity tracker. These fitness devices measure your movements as long as you wear them and translate them into data, like calories burned.
        
        When you monitor your movement over time, you see how truly active you are. You can use your numbers to help you decide if you need to exercise more. And you can see how the adjustments you make affect your stats, like how many calories you burn when you take the stairs instead of the elevator.
        
        You can track and use data about what you eat in the same way. Keeping a food journal on an app or on paper shows you the cups of coffee you drink added together. When you see all those coffee cups checked off, you get new insight about your caffeine fix. Suddenly, your jitters, midday energy dip, or late night insomnia might make more sense, and you can adjust your habits accordingly.
        
        
        Another helpful piece of personal info you can track is your mood. If you’re having a stressful day, bombarded with texts and demands, some trackers can turn changes in your pulse or breathing patterns into meaningful data. When you look at your stats for a week or so, you can start to identify the situations and times of day that are the most challenging. Then, you can use that new insight to adjust your work habits or how you spend your down time (yoga, anyone?).
        
        Intriguing, isn't it? It's not hard to see why some people get obsessed with personal data.</p>
</div>
<hr>
<div>
    <button type="button" class="btn btn-primary btn-block" routerLink="/place-fitness-trainer-appointment">Apply For Trainer</button>
</div>